version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: demo_postgres
    environment:
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: demo
      POSTGRES_DB: demo
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U demo -d demo"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: demo_redis
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:latest
    container_name: demo_minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data
    ports:
      - "9000:9000"
    volumes:
      - minio-data:/data

  rabbitmq:
    image: rabbitmq:3.11-management
    container_name: demo_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: demo_sqlserver
    environment:
      SA_PASSWORD: "Your_strong@Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver-data:/var/opt/mssql

  backend:
    image: 785661981860.dkr.ecr.ap-south-1.amazonaws.com/backend-app:latest
    container_name: demo_backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/demo
      SPRING_DATASOURCE_USERNAME: demo
      SPRING_DATASOURCE_PASSWORD: demo

      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin

      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672

      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
    depends_on:
      - postgres
      - redis
      - minio
      - rabbitmq
    ports:
      - "8080:8080"

  worker:
    image: 785661981860.dkr.ecr.ap-south-1.amazonaws.com/worker-app:latest
    container_name: demo_worker
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/demo
      SPRING_DATASOURCE_USERNAME: demo
      SPRING_DATASOURCE_PASSWORD: demo

      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin

      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672

      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
    depends_on:
      - postgres
      - minio
      - rabbitmq
      - redis

  frontend:
    image: 785661981860.dkr.ecr.ap-south-1.amazonaws.com/frontend-app:latest
    container_name: demo_frontend
    ports:
      - "3001:80"
    depends_on:
      - backend

volumes:
  pgdata:
  minio-data:
  sqlserver-data:
