version: "3.9"

services:

  postgres:
    image: postgres:15
    container_name: demo_postgres
    environment:
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: demo
      POSTGRES_DB: demo
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: demo_redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3.11-management
    container_name: demo_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  minio:
    image: minio/minio
    container_name: demo_minio
    command: server /data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
    volumes:
      - minio-data:/data

  backend:
    image: 785661981860.dkr.ecr.ap-south-1.amazonaws.com/backend-app:latest
    container_name: demo_backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/demo
      SPRING_DATASOURCE_USERNAME: demo
      SPRING_DATASOURCE_PASSWORD: demo

      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379

      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672

      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    depends_on:
      - postgres
      - redis
      - rabbitmq
      - minio
    ports:
      - "8080:8080"

  worker:
    image: 785661981860.dkr.ecr.ap-south-1.amazonaws.com/worker-app:latest
    container_name: demo_worker
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/demo
      SPRING_DATASOURCE_USERNAME: demo
      SPRING_DATASOURCE_PASSWORD: demo

      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379

      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672

      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    depends_on:
      - postgres
      - redis
      - rabbitmq
      - minio

  frontend:
    image: 785661981860.dkr.ecr.ap-south-1.amazonaws.com/frontend-app:latest
    container_name: demo_frontend
    ports:
      - "3001:80"
    depends_on:
      - backend

volumes:
  pgdata:
  minio-data:
  sqlserver-data:
